	<style>
		*{
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
		body	{
			margin: 0;
			Padding:  0;
			font-family: Garamond, cursive, sans-serif;
		}
		#A, #E, #D	{
			background-color: indianred;
			padding: 0px;
			border: 1px solid black;
			margin: 15px;
			width: 30%;
			margin-top: 10px;
			float: left;
		}
		h2	{
			text-align: right;
			border: 1px solid black;
			margin-left: 70%;
			width: 30%;
		}
	@media
		(min-width: 992px)	{
			#A{
				width: 30%;
				height: 200px;
			}
			#E{
				width: 30%;
				height: 200px;
			}
			#D{
				width: 30%;
				height: 200px;
			}
	}
	@media 
		(min-width: 768px) and (max-width: 991px)	{
		#A{
			width: 46%;
			height: 200px;
		}
		#E{
			width: 46%;
			height: 200px;
		}
		#D{
			width: 95%;
			height: 140px;
		}
	}
	@media 
		(max-width: 767px)	{
		#A{
			width: 95%;
			height: 200px;
		}
		#E{
			width: 95%;
			height: 200px;
		}
		#D{
			width: 95%;
			height: 200px;
		}
	}
	@media 
		(max-width: 300px)	{
		#A{
			width: 95%;
			height: 250px;
		}
		#E{
			width: 95%;
			height: 250px;
		}
		#D{
			width: 95%;
			height: 250px;
		}
	}
	@media 
		(max-width: 225px)	{
		#A{
			width: 95%;
			height: 350px;
		}
		#E{
			width: 95%;
			height: 350px;
		}
		#D{
			width: 95%;
			height: 350px;
		}
	}
	h1 {
		color: dimgrey;
		text-align: center;
	}

	</style>